.darkmode {
  cursor: pointer;
  padding: 0;
  position: relative;
  background: none;
  border: none;
  width: 20px;
  height: 32px;
  margin: 0;
  text-align: inherit;
  flex-shrink: 0;

  & .autoIcon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    left: 0;
    color: var(--darkgray);
    font-size: 1.14rem;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    display: none;
    user-select: none;
  }

  & svg {
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    fill: var(--darkgray);
    transition: opacity 0.1s ease;
  }
}

:root[saved-theme="dark"] {
  color-scheme: dark;
}

:root[saved-theme="light"] {
  color-scheme: light;
}

:root[data-theme-mode="dark"] .darkmode {
  & > .dayIcon {
    display: none;
  }
  & > .nightIcon {
    display: inline;
  }
  & > .autoIcon {
    display: none;
  }
}

:root[data-theme-mode="light"] .darkmode {
  & > .dayIcon {
    display: inline;
  }
  & > .nightIcon {
    display: none;
  }
  & > .autoIcon {
    display: none;
  }
}

:root[data-theme-mode="auto"] .darkmode {
  & > .dayIcon,
  & > .nightIcon {
    display: none;
  }

  & > .autoIcon {
    display: inline;
  }
}
